#favorites-window-content {
  height: 100%;
  overflow: auto;
  position: relative;
}

#fav-board {
  position: relative;
}

#fav-board-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  pointer-events: none;
  user-select: none;
}

.fav-item {
  position: absolute;
  transform-origin: center center;
  pointer-events: none;
  user-select: none;
}

.fav-item img {
  display: block;
  width: 90px;
}